.score {
    position: absolute;
    color: white;
    font-size: 2rem;
}

.gameOver {
    position: absolute;
    width: 100%;
    top: 50%;
    /* right: 0; */
    /* left: 0; */
    margin: 0 auto;
    text-align: center;
    > p {
        font-size: 2rem;
        color: white
    }
}